<h1>Discounts List</h1>

<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>Discount ID</th>
		<th>Applied To Product</th>
		<th>Applied To Customer</th>
		<th>Minimum Purchase</th>
		<th>Discount Type</th>
		<th>Discount Rate</th>
		<th>Current Status</th>
		<th colspan="2">Available Actions</th>
	</tr>

	<% if !@discounts.blank? %>
		<% @discounts.each do |discount| %>
			<tr>
				<td><%= discount.id %></td>
				<td><%= discount.product.blank? ?  "No product applied." : discount.product.name %></td>
				<td><%= discount.customer.blank? ?  "Does Not belongs to any user." : discount.customer.name %></td>
				<td><%= discount.minimum_purchase %>
				<td><%= discount.discount_type.blank? ?  "Unknown Type" : DiscountsHelper::DISCOUNT_TYPE.key(discount.discount_type) %></td>
				<td><%= discount.rate == 0 ? "0" : discount.rate %></td>
				<td><%= DiscountsHelper::DISCOUNT_STATUS.key(discount.status) %></td>
				<td><%= link_to 'Edit', edit_discount_path(discount) %></td>
				<td><%= link_to 'Destroy', discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	<% end %>

	<tr>
		<td><%= link_to "new discount", new_discount_path %></td>
		<td colspan="8">to create new discount</td>
	</tr>
</table>

