<h1>Create New Discount</h1>

<% if @customers.blank? %>
	<h2> No customer profile </h2>
	Create <%= link_to 'one', new_customer_path %>?
<% elsif @products.blank? %>
	<h2> No product available! </h2>
	Create <%= link_to 'one', new_product_path %>?
<% else %>
	<%= render 'form' %>
<% end %>

<br>
<%= link_to 'Show', @discount %> |
<%= link_to 'Back', discounts_path %>